@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: catamaran;
  src: url(/fonts/Catamaran-VariableFont_wght.ttf);
}
@font-face {
  font-family: sensei;
  src: url(/fonts/Sensei-Medium.ttf);
}
* {
  scroll-behavior: smooth;
  font-family: catamaran;
}
.shakeImage:hover {
  animation: horizontal-shaking 0.7s linear;
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#navbar.active {
  animation: fadeNav 0.6s linear forwards;
  position: sticky;
}

@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
